<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.addEventListener('load',()=>{
            //navigator.webkitGetUserMedia({ audio: true, video: true }, s => {}, err => {});

            navigator.getWebcam = (navigator.getUserMedia || navigator.webKitGetUserMedia || navigator.moxGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({  audio: true, video: true })
                    .then(function (stream) {
                        //Display the video stream in the video object
                    })
                    .catch(function (e) { console.log(e.name + ": " + e.message); });
            }
            else {
                navigator.getWebcam({ audio: true, video: true },
                    function (stream) {
                        //Display the video stream in the video object
                    },
                    function () { console.log("Web cam is not accessible."); });
            }
        });
    </script>
</head>
<body>

</body>
</html>